

body
{
	background-color:#CCCCCC;
}

h1
{
	text-align:center;
	color:orange;
	font-size:40px;
}

div.topDiv
{
	width:750px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	margin-left: 30px;
	margin-top:20px;
}

div.gameBoard
{
	width:488px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	float:left;
	overflow:auto;
}

div.offersList
{
	width:750px;
	height:200px;
	border-style:groove;
	background-color:#CCCCCC;
	float:left;
	margin-left:30px;
	overflow-y:auto;
}
	
div.playersList
{
	width:250px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	float:right;
	overflow-y:auto;
}

table.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
}

tr.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
}

td.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
	padding:23px;
}

td.trails:hover
{
	border-color:black;
}


.BigButton
{
	font:italic bold 30px times new roman,serif;
	background-color:#CCCCCC;
	width:200px;
	height:200px;
}

.welcomeMainContent
{
	background-color:#EEEEEE;
	width:900px; 
	height:500px;
}

.gameMainContent
{
	background-color:#EEEEEE;
	width:900px; 
	height:700px;
}
