

body
{
	background-color:#CCCCCC;
}

h1
{
	text-align:center;
	color:orange;
	font-size:40px;
}

div.topDiv
{
	width:750px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	margin-left: 30px;
	margin-top:20px;
}

div.gameBoard
{
	width:488px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	float:left;
	overflow:auto;
}

div.offersList
{
	width:750px;
	height:200px;
	border-style:groove;
	background-color:#CCCCCC;
	float:left;
	margin-left:30px;
	overflow-y:auto;
}
	
div.playersList
{
	width:250px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	float:right;
	overflow-y:auto;
}

table.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
}

tr.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
}

td.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
	padding:23px;
}

td.trails:hover
{
	border-color:black;
}


.BigButton
{
	font:italic bold 30px times new roman,serif;
	background-color:#CCCCCC;
	width:200px;
	height:200px;
}

.welcomeMainContent
{
	background-color:#EEEEEE;
	width:900px; 
	height:500px;
}

.gameMainContent
{
	background-color:#EEEEEE;
	width:900px; 
	height:700px;
}

/*
* tables styles 	=============================================================
*/


table.topTable
{
	width:730px;
	height:450px;	
	border-radius:10px;
}

td.header
{
	font:italic bold 42px times new roman,serif;
	text-align:center;	
	border-style:solid;
}

tr.upperTable
{
	height:500px;
	border-style:solid;
}

td.gameBoard
{
	width:500px;
}

table.downTable
{
	width:730px;
	height:150px;
}


/*
*	style of the offers' squares  ================================================
*/

td.purpleOfferSquare
{
	background-color:#AA88FF; /*purple*/
	width:8px;	
}

td.LGOfferSquare
{
	background-color:#9dffb4; /*light green*/
	width:8px;	
}

td.LYOfferSquare
{
	background-color:#f8ff9d; /*light yellow*/
	width:8px;	
}

td.pinkOfferSquare
{
	background-color:#ff9f9d; /*pink*/
	width:8px;	
}

td.LBOfferSquare
{
	background-color:#99ccf5; /*light blue*/
	width:8px;	
}

td.DBOfferSquare
{
	background-color:#5588b1; /*dark blue*/
	width:8px;	
}

