

body
{
	background-color:#CCCCCC;
	background-image:url('../Pictures/CT-background.jpg');
}

h1
{
	text-align:center;`
	color:orange;
	font-size:40px;
}

div.titleWrapper
{
	background-color:#AAAAAA;
	border-radius:10px;
	width:900px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	font-size: 40px;
	text-align:center;
	float:center;
}

div.topDiv
{
	width:750px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	margin-left: 30px;
	margin-top:20px;
}

div.gameBoard
{
	width:488px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	float:left;
	overflow:auto;
}

div.offersList
{
	width:750px;
	height:200px;
	border-style:groove;
	background-color:#CCCCCC;
	float:left;
	margin-left:30px;
	overflow-y:auto;
}
	
div.playersList
{
	width:250px;
	height:450px;
	border-style:groove;
	background-color:#CCCCCC;
	float:right;
	overflow-y:auto;
}

table.trails
{
	/*border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
	border-radius:5px; */
}

tr.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
}

td.trails
{
	border-style:groove;
	border-color:#FF7f00;
	border-width:2px;
	border-radius:3px; 
	padding:23px;
}

td.trails:hover
{
	border-color:black;
}


.BigButton
{
	font:italic bold 30px times new roman,serif;
	background-color:#CCCCCC;
	width:200px;
	height:200px;
	border-radius:10px;
}

.welcomeMainContent
{
	background-color:#EEEEEE;
	width:900px; 
	height:500px;
}

.gameMainContent
{
	background-color:#EEEEEE;
	width:900px; 
	height:900px;
	border-radius:10px;
}

/*
* tables styles 	=============================================================
*/


table.topTable
{
	width:730px;
	height:450px;
	/*border:1px solid black;	
	border-radius:10px;	*/
}

td.header
{
	font:italic bold 42px times new roman,serif;
	text-align:center;	
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
}

tr.upperTable
{
	height:500px;
	border-style:solid;
}

td.gameBoard
{
	width:500px;
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
}
td.sideTable
{
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
	vertical-align:top;
}

table.playersList
{
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
	width:100%;
}

td.playersListHeader
{
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
	text-align: center;
}

table.downTable
{
	width:730px;
	height:150px;
	display: block;
	overflow-y: scroll;
	/*border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;*/
}

td.makeGetOffer
{
	height:30px;
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
}

td.offersHistory
{
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
}
/*
*	style of joining page: ======================================
*/


table.inputTable
{
	text-align:right;
	float:center;
}

tr.inputTable
{
	height:20px;
}

td.inputTable
{
	width:200px;
}
/*
*	style of the offers' squares  ================================================
*/
.chipsNum{
	width:30px;
	background-color:white;
	height:20px;
}	
td.purpleOfferSquare
{
	background-color:#AA88FF; /*purple*/
	width:8px;
	border-style:groove;
	border-width:1px;
	border-radius:2px;
	border-color:#FF7f00;	
}

td.LGOfferSquare
{
	background-color:#9dffb4; /*light green*/
	width:8px;	
	border-style:groove;
	border-width:1px;
	border-radius:2px;
	border-color:#FF7f00;
}

td.LYOfferSquare
{
	background-color:#f8ff9d; /*light yellow*/
	width:8px;	
	border-style:groove;
	border-width:1px;
	border-radius:2px;
	border-color:#FF7f00;
}

td.pinkOfferSquare
{
	background-color:#ff9f9d; /*pink*/
	width:8px;	
	border-style:groove;
	border-width:1px;
	border-radius:2px;
	border-color:#FF7f00;
}

td.LBOfferSquare
{
	background-color:#99ccf5; /*light blue*/
	width:8px;	
	border-style:groove;
	border-width:1px;
	border-radius:2px;
	border-color:#FF7f00;
}

td.DBOfferSquare
{
	background-color:#5588b1; /*dark blue*/
	width:8px;	
	border-style:groove;
	border-width:1px;
	border-radius:2px;
	border-color:#FF7f00;
}
/*****************************************************
***************	player design	**********************
/*****************************************************/

table.player
{
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
	background-color:#EEEEEE;
	height:30px;
	width:230px;
}

td.playerIMG
{
	width:20px;
	background-color:#99ccf5;
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
}
td.playerID
{
	width:20px;
	text-align:center;
	border-style:groove;
	border-width:2px;
	border-radius:5px;
	border-color:#AAAAAA;
}

td.colorAmount
{
	width:8px;
	background-color:white;
}


